.slider-dix{
  background: #000;
  position: relative;
  width: 1000px;
  height: 220px;
  overflow: hidden;
}




.slider-dix #sdprev{
  position: absolute;
  top: 40%;
  left: 10px;
  cursor: pointer;
  background-image: url(arrow-left.png);
  width: 42px;
  height: 42px;
  z-index: 100;
}
.slider-dix #sdnext{
  position: absolute;
  top: 40%;
  right: 10px;
  cursor: pointer;
  background-image: url(arrow-right.png);
  width: 42px;
  height: 42px;
  z-index: 100;
}
